<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll whiteBack">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="folder=='Carta'">
    <ion-grid class="container">
      <ion-row class="imgContainer">
        <ion-col class="center" data-type="entrada">
          <p> Entradas </p>
        </ion-col>
      </ion-row>
      <ion-row class="imgContainer">
        <ion-col class="center" data-type="comida">
          <p> Comida </p>
        </ion-col>
      </ion-row>
      <ion-row class="imgContainer" (click)="folder='Bebidas'">
        <ion-col class="center" data-type="bebida">
          <p> Bebidas </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding" *ngIf="folder=='Pedidos'">
    <h1> <b> &nbsp;A entregar </b> </h1>
    <ion-list class="whiteBack">
      <ion-list-header>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <ion-label>  <h1>Pedido A26 </h1> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label> <h2>(Mesa 4) </h2></ion-label>
          </ion-col>
        </ion-row>
        <ion-button>Entregado</ion-button>
      </ion-list-header>
      <ion-item-sliding style="padding-left: 0.3em;">
        <ion-item class="whiteBack">   
          <ion-row style="width: 100%;">
            <ion-col size="11">
              <ion-label style="font-size: 1.7vh;"> Mezcal Titlán 45 </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: center;">
              <ion-label style="font-size: 1.7vh;">1</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-item-sliding style="padding-left: 0.3em;">
        <ion-item class="whiteBack">   
          <ion-row style="width: 100%;">
            <ion-col size="11">
              <ion-label style="font-size: 1.7vh;"> Birria de Carnero </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: center;">
              <ion-label style="font-size: 1.7vh;">1</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding style="padding-left: 0.3em;">
        <ion-item class="whiteBack">   
          <ion-row style="width: 100%;">
            <ion-col size="11">
              <ion-label style="font-size: 1.7vh;"> Mezcla de quesos </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: center;">
              <ion-label style="font-size: 1.7vh;">1</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <br>
    <ion-list class="whiteBack">
      <ion-list-header>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <ion-label>  <h1>Pedido B12 </h1> </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label> <h2>(Para llevar) </h2></ion-label>
          </ion-col>
        </ion-row>
        <ion-button>Entregado</ion-button>
      </ion-list-header>
      <ion-item-sliding style="padding-left: 0.3em;">
        <ion-item class="whiteBack">   
          <ion-row style="width: 100%;">
            <ion-col size="11">
              <ion-label style="font-size: 1.7vh;"> Mezcal IBÁ 55 </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: center;">
              <ion-label style="font-size: 1.7vh;">3</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding style="padding-left: 0.3em;">
        <ion-item class="whiteBack">   
          <ion-row style="width: 100%;">
            <ion-col size="11">
              <ion-label style="font-size: 1.7vh;"> Mezcal IBÁ 40 Organico </ion-label>
            </ion-col>
            <ion-col size="1" style="text-align: center;">
              <ion-label style="font-size: 1.7vh;">2</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
    </ion-list>
  </div>

  <div class="ion-padding" *ngIf="folder=='Reportes'">
    <h1> <b> &nbsp;¿Cual es la incidencia? </b> </h1>
    <ion-item class="whiteBack" style="padding-left: 0.3em;">
      <ion-label position="floating">Reporte: </ion-label>
      <ion-textarea rows="4" placeholder="Ingresa la informacion necesaria..."></ion-textarea>
    </ion-item>
    <br><br>

    <ion-button style="float: right;">
      Enviar Reporte
      <ion-icon slot="end" name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding" *ngIf="folder=='Bebidas'">
    <ion-list class="whiteBack">
      <ion-list-header>
            <ion-label>  <h1>Bebidas Alcoholicas </h1> </ion-label>
      </ion-list-header>

      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Mezcal Titlán 38 </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">3</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    
      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Mezcal Titlán 45 </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">0</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Mezcal Titlán Jabalí </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">0</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Mezcal IBÁ 40 Orgánico </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">0</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Mezcal IBÁ 55 </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">0</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
    <br>
    <ion-list class="whiteBack">
      <ion-list-header>
            <ion-label>  <h1>Bebidas sin Alcohol </h1> </ion-label>
      </ion-list-header>

      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Naranjada </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">1</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    
      <ion-item  style="padding-left: 0.3em;" class="whiteBack">
        <ion-row style="width: 100%;">
          <ion-col size="8">
            <ion-label style="font-size: 1.7vh;"> Limonada </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: center;">
            <ion-label style="font-size: 1.7vh;">0</ion-label>
          </ion-col>
        </ion-row>
        <ion-button slot="end" fill="outline" (click)="showPicker()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
    <br><br>

    <ion-button style="float: right;">
      Realizar pedido
      <ion-icon slot="end" name="checkmark"></ion-icon>
    </ion-button>
  </div>

</ion-content>
