ion-menu-button {
  color: var(--ion-color-primary);
}

.container {
  background-color: var(--ion-color-dark);
  width: 100%;
  height: 103%;
  padding: 0;
  position: absolute;
  bottom: -3%;
}

.imgContainer {
  width: 100%;
  height: 33%;
  cursor: pointer;

  ion-col {
    height: 100%;
    padding: 0;
  }

}

ion-list {
  font-size: 50px;
}

.full { 
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  vertical-align: middle;
  display: table;
}

.center[data-type='entrada'] {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../assets/img/entrada.jpg) no-repeat center;
  background-size: cover;
}

.center[data-type='comida'] {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../assets/img/comida.jpg) no-repeat center;
  background-size: cover;
}

.center[data-type='bebida'] {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../assets/img/bebida.jpg) no-repeat center;
  background-size: cover;
}


.center p {
  font-size: 6vh;
  display: table-cell;
  vertical-align: middle;
  color: var(--ion-color-secondary);
}

.header{
  --background: var(--ion-color-secondary)
}