<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
        <ion-col class="img-container">
          <ion-img src="../../assets/img/logo.png"> </ion-img>
        </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid class="grid2">
              <ion-row>
                <ion-col>
                  <ion-row>


                  <ion-col>
                      <h1>Casa Titlán</h1>
                      <h4>Log in</h4>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item>
                              <ion-icon name="person-outline" class="icon-login"></ion-icon>
                              <ion-input name="user" type="text" required placeholder="Usuario" [(ngModel)]="user"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="key-outline" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" required placeholder="Contraseña" [(ngModel)]="pass"></ion-input>
                          </ion-item>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="login()">
                          Entrar
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3>¿Olvido la contraseña?</h3>
                      </ion-label>
                  </ion-col>
                  </ion-row>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>

</ion-content>