.grid1 {
    height: 100%;
    padding: 0px;
    background-color: #f2eae7;
}


.contaier-login {
    width: 90%;
    max-width: 550px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
}

.row1 {
    padding-top: 3em;
    background: #323232;
    height: 35%;
    padding-bottom: 5.5em;
}

.img-container {
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
 }

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}