<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="logged">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Casa Titlán</ion-list-header>
          <ion-note>{{user}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          
        </ion-list>

        
      </ion-content>

      <ion-footer>
        <ion-item (click)="logout()"  lines="none" detail="false" style="cursor: pointer; padding: 8px;">
          <ion-icon slot="start" icon="exit"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-footer>
      
      
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
